<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8" />
    <body>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='estimativa.css') }}"
        />
        <div class="result">
            <div class="form">
                <form class="login-form">
                    <h2>Dados oficiais:</h2>
                    <p>{{official}}</p>
                    <h2>Estimativa:</h2>
                    <p>{{unofficial}}</p>
                    <a href="http://127.0.0.1:5000/">
                        <button>FAZER NOVA CONSULTA</button>
                    </a>
                </form>
            </div>
        </div>
    </body>
</html>
